<section class="py-5">
  <h1 class="display-3">
    Terimakasih Sekarang Kamu Sudah Jadi Teacher Premium
  </h1>
  <p class="lead">Selamat menggunakan akses live score di aplikasi kamu </p>
  <form action="/api/admin/change/" method="POST">
    <label for="phoneNumber">No Handphone Kamu</label><br>
    <input type="text" id="phoneNumber" name="phoneNumber"><br>
    <button type="submit" class="btn btn-dark btn-lg">Aktifkan Premium</button>
  </form>

</section>